@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #fff;
  background: $radial-gradient;
}
