.play {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .icons-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .triangle {
      position: absolute;
      width: 23.75rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .items {
      position: relative;
      width: 34.375rem;
      height: 32.5rem;
    }

    .icon {
      width: 12.5rem;
      height: 12.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      transition: all 0.25s;
      // overflow: hidden;

      &.icon-rock {
        border: solid 1.2rem $rock;
        box-shadow: inset 0px 5px 6px grey, 0px 8px darken($rock, 15%);
        background: url("../images/icon-rock.svg") #fff;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
      }

      &.icon-paper {
        border: solid 1.2rem $paper;
        box-shadow: inset 0px 5px 6px grey, 0px 8px darken($paper, 15%);
        right: 0;
        background: url("../images/icon-paper.svg") #fff;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
      }

      &.icon-scissors {
        border: solid 1.2rem $scissors;
        box-shadow: inset 0px 5px 6px grey, 0px 8px darken($scissors, 15%);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url("../images/icon-scissors.svg") #fff;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
      }

      &:hover {
        background-size: 60%;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
